<div
  class="rounded-border p-20"
  [class]="{ 'cursor-pointer': !isDetail }"
  (click)="navigateToDetail(match.id)"
>
  <div class="match-item">
    <div class="team">
      <div class="logo">
        <img [src]="match.home?.logo" />
      </div>
      <div class="name">
        {{ match.home?.name }}
      </div>
    </div>
    <div class="score">
      <p class="score-point" *ngIf="match.status === STATUS.Completed">
        {{ match.homeScore }}
      </p>
      <p>vs</p>
      <p class="score-point" *ngIf="match.status === STATUS.Completed">
        {{ match.awayScore }}
      </p>
    </div>
    <div class="team">
      <div class="logo">
        <img [src]="match.away?.logo" />
      </div>
      <div class="name">
        {{ match.away?.name }}
      </div>
    </div>
  </div>

  <div
    class="match-event"
    *ngIf="isDetail && match.status === STATUS.Completed"
  >
    <div class="text-left">
      @for (player of homePlayers; track $index) {
      <p>{{ player.username }} {{ player.goalInText }}</p>
      }
    </div>
    <div>
      <p class="ml-8 mr-8">
        <span class="material-symbols-outlined"> sports_soccer </span>
      </p>
    </div>
    <div class="text-right">
      @for (player of awayPlayers; track $index) {
      <p>{{ player.username }} {{ player.goalInText }}</p>
      }
    </div>
  </div>

  <div *ngIf="match.status === STATUS.NotStart">
    <p>Địa điểm: {{ match.location }}</p>
    <p>Thời gian: {{ match.date | date : "dd/MM/yyyy HH:mm:ss	" }}</p>
  </div>
</div>
