@import "../../styles/abstracts/variables";

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .icon-container {
      cursor: pointer;

      span {
        background: rgba(0, 0, 0, 0.075);
      }
    }

    .navigation-bar {
      visibility: hidden; // Use visibility to access to element
      background: rgba(0, 0, 0, 0.075);

      .navigation-header {
        display: none;
      }

      &.open {
        visibility: visible;
        position: absolute; // reflect to body (default)
        width: 100%;
        top: 0;
        left: 0;

        z-index: 2;
        background-color: $gray;

        .navigation-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $text-black;
        }

        ul {
          display: block; // show UL layout

          li {
            padding: 0;
            .link {
              padding: 20px 0;
              display: inline-block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      ul {
        display: none; // For responsive (hidden visibility will break UI)

        text-align: center;

        li {
          padding: 10px 20px;
          font-size: 0.9rem;
        }

        &:hover li:not(:hover) .link {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    nav {
      justify-content: center;
      .menu-icon {
        display: none;
      }

      .navigation-bar {
        visibility: visible;

        ul {
          display: flex; // Change display style
        }
      }
    }
  }
}
