<header class="w-100 p-20">
  <nav>
    <div class="icon-container" (click)="updateTheme()">
      @if (themeMode === ThemeModeEnum.Light) {
      <span class="material-symbols-outlined circle p-8"> light_mode </span>
      } @else {
      <span class="material-symbols-outlined circle p-8"> dark_mode </span>
      }
    </div>

    <div #navigation class="navigation-bar rounded-sm">
      <div class="navigation-header p-20">
        <div class="icon-container" (click)="triggerMenu()">
          <span class="material-symbols-outlined rounded-sm p-8">
            keyboard_backspace
          </span>
        </div>
      </div>

      <ul>
        <li>
          <span class="material-symbols-outlined menu-icon"> trophy </span>
          <a class="link" href="#">Cúp Mùa Gặt</a>
        </li>
        <li>
          <span class="material-symbols-outlined menu-icon"> trophy </span>
          <a class="link" href="#">Giải Vòng Tròn</a>
        </li>
      </ul>
    </div>

    <div class="icon-container menu-icon" (click)="triggerMenu()">
      <span class="material-symbols-outlined rounded-sm p-8"> menu </span>
    </div>
  </nav>
</header>
