<div class="lineup-container">
  <img src="/assets/football-field.png" alt="" />

  <!-- HOME -->
  <div class="line-wrapper home-gk">
    <div class="line-wrapper-item">
      <div class="player-point home-point"></div>
      <p class="lineup-name">{{ match.lineup?.homeGk?.name }}</p>
    </div>
  </div>

  <div class="line-wrapper home-df">
    @for (df of match.lineup?.homeDfs; track $index) {
    <div class="line-wrapper-item">
      <div class="player-point home-point"></div>
      <p class="lineup-name">{{ df.name }}</p>
    </div>
    }
  </div>

  <div class="line-wrapper home-st">
    @for (st of match.lineup?.homeSts; track $index) {
    <div class="line-wrapper-item">
      <div class="player-point home-point"></div>
      <p class="lineup-name">{{ st.name }}</p>
    </div>
    }
  </div>

  <!-- AWAY -->
  <div class="line-wrapper away-gk">
    <div class="line-wrapper-item">
      <div class="player-point away-point"></div>
      <p class="lineup-name">{{ match.lineup?.awayGk?.name }}</p>
    </div>
  </div>

  <div class="line-wrapper away-df">
    @for (df of match.lineup?.awayDfs; track $index) {
    <div class="line-wrapper-item">
      <div class="player-point away-point"></div>
      <p class="lineup-name">{{ df.name }}</p>
    </div>
    }
  </div>

  <div class="line-wrapper away-st">
    @for (st of match.lineup?.awaySts; track $index) {
    <div class="line-wrapper-item">
      <div class="player-point away-point"></div>
      <p class="lineup-name">{{ st.name }}</p>
    </div>
    }
  </div>
</div>
