@import "../abstracts/variables";

@mixin override_card($padding, $border-radius) {
  padding: $padding;
  border-radius: $border-radius;
}

.card {
  padding: 20px;
  border-radius: 6px;
}

.light-mode {
  .card {
    border: 1px solid $text-black;
  }
}

.dark-mode {
  .card {
    color: $dark_bg_text;
    background-color: $dark_surface_1;

    .card-description {
      color: $dark_surface_text;
    }
  }
}
