@import "variables";

@mixin override_card($padding, $border-radius) {
  padding: $padding;
  border-radius: $border-radius;
}

.card {
  padding: 20px;
  border-radius: 16px;
}

.rounded-border {
  border: 1px solid $gray;
  border-radius: 16px;
}

.light-mode {
  .card {
    background-color: $text-white;

    .sub-card {
      background: rgba(0, 0, 0, 0.075);
    }
  }
}

.dark-mode {
  .card {
    color: $dark_bg_text;
    background-color: $dark_surface_1;

    .card-description {
      color: $dark_surface_text;
    }

    .sub-card {
      background: rgba(255, 255, 255, 0.2);
    }

    .mat-mdc-cell,
    .mat-mdc-header-cell {
      color: $dark_bg_text;
    }
  }

  .rounded-border {
    border-color: $dark_surface_2;
  }
}
