@import "../../styles/abstracts/variables";

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #666666;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.box {
  border: 1px solid #666666;
  padding: 20px;
}
