<div class="box-container">
  <div class="home">
    <div class="team-info">
      <img
        src="https://resources.premierleague.com/premierleague/badges/100/t43.png"
      />
      <p>Đội trẻ</p>
    </div>

    <div class="match-info">
      <div class="score-time">
        <span>06', 77', 88'</span>
        <img
          src="https://www.premierleague.com/resources/rebrand/v7.153.17/i/elements/icons/ball-small.svg"
        />
      </div>
      <div class="player-name">Vu <strong>Trong</strong></div>
    </div>

    <div class="match-info">
      <div class="score-time">
        <span>06', 77', 88'</span>
        <img
          src="https://www.premierleague.com/resources/rebrand/v7.153.17/i/elements/icons/ball-small.svg"
        />
      </div>
      <div class="player-name">Tommy <strong>Siu</strong></div>
    </div>
  </div>

  <div class="result">
    <p>6 : 2</p>
  </div>

  <div class="guest">
    <div class="team-info">
      <img
        src="https://resources.premierleague.com/premierleague/badges/100/t3.png"
      />
      <p>Đội già</p>
    </div>

    <div class="match-info">
      <div class="score-time">
        <img
          src="https://www.premierleague.com/resources/rebrand/v7.153.17/i/elements/icons/ball-small.svg"
        />
        <span>06', 77'</span>
      </div>
      <div class="player-name">Nay <strong>Danh</strong></div>
    </div>
  </div>
</div>
