// Color
$gray: #d1d1d1;
$text-black: #0f1012;
$text-white: white;

$light_bg: #f3f3f3;
$light_text: $text-black;
$light_hover_background: rgba(0, 0, 0, 7.5%);

$dark_grey_bg: #121212;
$dark_surface_1: rgba(255, 255, 255, 5%);
$dark_surface_2: rgba(255, 255, 255, 7%);
$dark_bg_text: rgba(255, 255, 255, 87%);
$dark_surface_text: rgba(255, 255, 255, 60%);
$dark_disabled_text: rgba(255, 255, 255, 38%);

// Font Variables
$primary-font: "Roboto", sans-serif;

// Typography Variables
$base-font-size: 16px;
$base-line-height: 1.5;

// Z-Index Variables
$z-index-navbar: 1000;
