<div class="home-container">
  <div class="banner-background">
    <img src="assets/football-club.jpg" />
  </div>

  <!-- INTRODUCTION -->
  <div class="container center pt-20">
    <div class="banner-content card mb-20 text-center">
      <p class="title">Bóng Đá Hội Thánh Mùa Gặt</p>
      <p class="content">
        Một sân chơi thể thao tổ chức vào mỗi cuối tuần, nhằm tạo cơ hội giao
        lưu, rèn luyện sức khỏe và thúc đẩy tinh thần đoàn kết, đồng thời mang
        đến những khoảnh khắc vui tươi và ý nghĩa cho cộng đồng.
      </p>

      <div
        (click)="navigateToFootballPage()"
        class="btn bg-primary-600 mt-20 mb-20"
      >
        Khám phá thêm
      </div>
    </div>
  </div>
  <!-- END INTRODUCTION -->

  <div class="container center pt-20" *ngIf="match$ | async as matchData">
    <h3 class="pb-20">Trận Đấu Gần Đây</h3>
    <div class="banner-content card mb-20 text-center">
      <app-match-card [match]="matchData"></app-match-card>
    </div>
  </div>
</div>
