$primary-theme: (
  blue: (
    100: #caf0f8,
    200: #ade8f4,
    300: #90e0ef,
    400: #48cae4,
    500: #00b4d8,
    600: #0096c7,
    700: #0077b6,
    800: #023e8a,
    900: #03045e,
    contrast: (
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
    ),
  ),
);
